@import "tailwindcss";
@plugin "daisyui";

@theme {
  /* fonts family */
  --font-poppins: "Poppins", sans-serif;
  --font-dancing-script: "Dancing Script", cursive;
  --font-marck-script: "Marck Script", cursive;
}
